extends layout

block content
    a(href="/")
        h1= title
    div(class='listing-header')
        p
            a(class="button" href="/books/new") Create New Book
        div(class='searchbar')
            form(method='get')
                input(type='text' name='s' id='search' placeholder='title, author, genre, year...' value=searchTerm)
                input(type='submit', value='search')
    if (results)
        table
            thead
                tr
                    th Title
                    th Author
                    th Genre
                    th Year
                each book in books
                    tr
                        td
                            a(href="/books/"+book.id)= book.title
                        td= book.author
                        td= book.genre
                        td= book.year
        p Showing results #{start_index}-#{end_index} out of #{count} books
    if(!results)
        div
            p There are no results to show
            a(href='/' class='see-all-books') See all books
