extends layout

block content
    h1= title
    div(class='listing-header')
        p
            a(class="button" href="/books/new") Create New Book
        div(class='searchbar')
            form(method='post')
                input(type='text' name='search' id='search' placeholder='title, author, genre, year...')
                input(type='submit', value='search')
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
            each book in books
                tr
                    td
                        a(href="/books/"+book.id)= book.title
                    td= book.author
                    td= book.genre
                    td= book.year