extends layout

block content
    a(class='button back', href='/') < Back
    div(class='single-container')
        div(class='left')
            h1= book.title
            h2 Author:
            p= book.author
            h2 Genre:
            p= book.genre
            h2 Year:
            p= book.year
            hr
            a(class='button edit', href='/books/'+book.id+'/update') Edit Book
            a(class='button delete', href='/books/'+book.id+'/delete') Delete Book
        div(class='right')
            img(src=book.image alt=book.title)